<div class="flex bg-zc-50 justify-center w-full h-screen">
  <div class="w-full h-screen pt-8 space-y-6 flex flex-col">
    <div class="header px-8 flex items-center justify-between">
      <div class="flex justify-center items-center w-5/6 gap-8">
        <div class="flex items-center space-x-2">
          <div></div>
          <span class="t-title text-zc-600">BTorchForest</span>
        </div>
        <div class="logo">
          <img src="/assets/img/logo-fire.png" alt="logo fire" style="height: 150px; width: 100px">
        </div>
      </div>
    </div>
    <div class="body space-y-6 w-full overflow-y-auto h-full rounded-t-lg bg-white p-8">
      <div class="w-full flex">
        <div class="w-1/4 space-y-6 px-4">
          <div class="i-outline w-full">
            <label>Imagen a Analizar</label>
            <div class="h-2"></div>
            <input type="file" (change)="uploadFile($event)" accept="{{accept}}">
          </div>
          <div class="title-section flex items-center space-x-2">
            <div class="w-1 h-4 rounded bg-brand-c"></div>
            <span class="t-body text-brand-c">Datos Capturados</span>
          </div>
          <div class="w-full flex flex-wrap gap-4">
            <div class="flex flex-col">
              <span class="t-label text-zc-400">Nombre del documento</span>
              <span class="t-body text-zc-600">{{fileName ? fileName : '-'}}</span>
            </div>
            <div class="flex flex-col">
              <span class="t-label text-zc-400">Tamaño</span>
              <span class="t-body text-zc-600">{{fileSize ? fileSize + ' mb' : '-'}}</span>
            </div>
          </div>
          <div class="w-full">
            <button class="b-solid w-full md:w-fit" style="min-width: 120px" (click)="getPredictions()">
              Obtener una predicción
            </button>
          </div>
        </div>
        <div class="w-3/4">
          <div *ngIf="imageResult !== ''" class="flex flex-col gap-4">
            <div>
              <span class="t-title">Resultado</span>
            </div>
            <div class="flex gap-4">
              <div class="flex flex-col gap-4">
                <div>
                  <span class="t-subtitle">Imagen detectada</span>
                </div>
                <img [src]="imageResult" alt="img_result">
              </div>
              <div class="w-2/4">
                <div class="flex flex-col gap-4">
                  <div>
                    <span class="t-subtitle">Predicciones</span>
                  </div>

                  <json-editor
                    [options]="editorOptions"
                    [data]="resultJSON"
                  ></json-editor>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<app-block-page [show]="isBlockPage"></app-block-page>
<app-toast></app-toast>
